__pycache__/
.ipynb_checkpoints/
.~lock.*
data/models/**
data/preprocessed_data/labelled_tweets/**
data/preprocessed_data/predict_tweets/**
data/raw_data/raw_tweets/**
data/utils_data/word2vec_twitter_tokens.bin
data/utils_data/ner_training/custom_NER
data/utils_data/idmc_terms_units.csv
data/utils_data/idmc_trigger.csv

config/keywords.json
config/acquisition/secrets.json



# exception to the rule
!data/.gitkeep 
!data/.gitkeep 
!data/models/.gitkeep 

!data/utils_data/.gitkeep
!data/preprocessed_data/labelled_tweets/.gitkeep 
!data/preprocessed_data/predict_tweets/.gitkeep 

!data/raw_data/labelled_tweets/.gitkeep 
!data/raw_data/raw_tweets/.gitkeep 
!data/utils_data/.gitkeep 
!results/analysis/.gitkeep 
!results/predictions/.gitkeep 
!results/modelResults/.gitkeep 
